/// section.scss | made by @CSN3RD

/* Section/Article */

	section, article {
		&.special {
			text-align: center;
		}
	}

	header {
		p {
			margin-top: _size(element-margin) * -0.5;
		}

		@include breakpoint('<=small') {
			p {
				margin-top: 0;
			}
		}
	}